$citrus: #a3b90d; //primary-color
$pistachio: #a3ba05; //nav
$honeysuckle: #e9fa77;
$fall-green: #e3eab6;
$persian-green: #00a6a6; //secondary-color
$shakespeare: #4dcaca;
$powder-blue: #b2e4e4;
$dusty-gray: #9b9b9b;
$siam:#616451;

body{
  background-color: white;
}

nav{
  background: $pistachio;
  .fa-search{
    height: 100%;
  }
  .fa-bars{
    margin-left: .3em;
  }
  .brand-logo{
    padding: 0 1em;
  }
  .fa-pagelines{
    line-height: 56px;
  }
}



footer.page-footer{
  background: $persian-green;
  padding-top: 0;
  li{
    display: inline;
    padding: 10px
  }
}

//Styles for the piemenu
#piemenu > svg { width: 100%; height: 100%; }
#piemenu { height: 400px; width: 400px; margin:auto; }
@media (max-width: 400px) { #piemenu { height: 300px; width: 300px; } }

[class|=wheelnav-piemenu-slice-basic] { fill: $honeysuckle; stroke: none; }
[class|=wheelnav-piemenu-slice-selected] { fill: $honeysuckle; stroke: none; }
[class|=wheelnav-piemenu-slice-hover] { fill: $honeysuckle;  stroke: none; fill-opacity: 0.77; cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] { fill: $citrus; stroke: none; }
[class|=wheelnav-piemenu-title-selected] { fill:  #93c90d; stroke: none;}
[class|=wheelnav-piemenu-title-hover] { fill: $citrus; stroke: none; cursor: pointer; }

.wheelnav-piemenu-spreader-in,
.wheelnav-piemenu-spreader-out { fill: #fff; stroke-width: 10; stroke:#fff; cursor: pointer; }
.wheelnav-piemenu-spreadertitle-in,
.wheelnav-piemenu-spreadertitle-out { fill: $citrus;  stroke-width: 0; cursor: pointer; }

.wheelnav-piemenu-marker { stroke: #93c90d; stroke-width: 2; }

.wheel-item{
  position: relative;
}

.chef{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap:wrap;
}

.chef-image{
  vertical-align: middle;
  max-width: 100%;
}
.chef-caption{
  color:$persian-green;
  border-top: 3px solid $persian-green;
  p{
    color: $dusty-gray;
  }
}

.cooking,.specials,.restaurant, .blog {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap:wrap;
  .col{
    flex: none;
  }
  .col:nth-child(1){
    order: 0;
  }
  .col:nth-child(2) {
    order: 1;
  }
  .col:nth-child(3) {
    order: 2;
  }
  .col:nth-child(4) {
    order: 3;
  }
}

.cooking-intro{
  background: $persian-green;
  color: white;
}
.cooking-intro-content{
  padding: 20px 10px 10px;
  margin: auto;
}

.cooking-image{
  width: 100%;
}
.cooking-dish{
  color:white;
  background: $shakespeare;
}

.cooking-figure{
  margin: 1em 10px;
}

.cooking-caption{
  margin-top: 1em;
}

.special-header{
  color: $siam;
  margin-left: 0.75rem;
}

.special-dish{
line-height: 1.5em;
}

.special-title{
  min-height: 75px;
  font-size: 1.3rem;
  color: $persian-green;
}

.special-image{
  width: 100%;
}

.restaurant-intro{
  background: $citrus;
  color: white;
}

.restaurant-title{
    color:$siam;
}

.restaurant-bar{
  color:white;
  background: $honeysuckle;
}

.restaurant-intro-content{
  padding: 20px 10px 10px;
  margin: auto;
}

.restaurant-figure{
  margin: 1em 10px;
  position: relative;
}

.restaurant-caption{
  position: absolute;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  padding: 0.75rem;
}

.restaurant-image{
  width: 100%;
}

.blog-header{
  color: $siam;
  margin-left: 0.75rem;
}

.blog-content{
  line-height: 1.5em;
  padding: 1em;
  height: 100%;
}

.blog-title{
  min-height: 75px;
  font-size: 1.3rem;
  margin: 0;
  padding: 1em;
}

.blog-section{
  overflow: hidden;
}

.blog-image{
  width: 100%;
}
