$citrus: #a3b90d; //primary-color
$pistachio: #a3ba05; //nav
$honeysuckle: #e9fa77;
$fall-green: #e3eab6;
$persian-green: #00a6a6; //secondary-color
$shakespeare: #4dcaca;
$powder-blue: #b2e4e4;

body{
  background-color: white;
}

nav{
  background: $pistachio;
}

footer.page-footer{
  background: $persian-green;
  padding-top: 0;
  li{
    display: inline;
    padding: 10px
  }
}
