body {
  background-color: white; }

nav {
  background: #a3ba05; }
  nav .brand-logo {
    left: 10px;
    transform: none;
    -webkit-transform: none; }

footer.page-footer {
  background: #00a6a6;
  padding-top: 0; }
  footer.page-footer li {
    display: inline;
    padding: 10px; }

#piemenu > svg {
  width: 100%;
  height: 100%; }

#piemenu {
  height: 400px;
  width: 400px;
  margin: auto; }

@media (max-width: 400px) {
  #piemenu {
    height: 300px;
    width: 300px; } }

[class|=wheelnav-piemenu-slice-basic] {
  fill: #e9fa77;
  stroke: none; }

[class|=wheelnav-piemenu-slice-selected] {
  fill: #e9fa77;
  stroke: none; }

[class|=wheelnav-piemenu-slice-hover] {
  fill: #e9fa77;
  stroke: none;
  fill-opacity: 0.77;
  cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] {
  fill: #a3b90d;
  stroke: none; }

[class|=wheelnav-piemenu-title-selected] {
  fill: #93c90d;
  stroke: none; }

[class|=wheelnav-piemenu-title-hover] {
  fill: #a3b90d;
  stroke: none;
  cursor: pointer; }

.wheelnav-piemenu-spreader-in,
.wheelnav-piemenu-spreader-out {
  fill: #fff;
  stroke-width: 10;
  stroke: #fff;
  cursor: pointer; }

.wheelnav-piemenu-spreadertitle-in,
.wheelnav-piemenu-spreadertitle-out {
  fill: #a3b90d;
  stroke-width: 0;
  cursor: pointer; }

.wheelnav-piemenu-marker {
  stroke: #93c90d;
  stroke-width: 2; }

.wheel-item {
  position: relative; }

.chef {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.chef-image {
  vertical-align: middle;
  max-width: 100%; }

.chef-caption {
  color: #00a6a6;
  border-top: 3px solid #00a6a6; }
  .chef-caption h2 {
    margin-top: 0px; }
  .chef-caption p {
    color: black; }

.cooking, .specials, .restaurant {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  .cooking .col, .specials .col, .restaurant .col {
    flex: none; }
  .cooking .col:nth-child(1), .specials .col:nth-child(1), .restaurant .col:nth-child(1) {
    order: 0; }
  .cooking .col:nth-child(2), .specials .col:nth-child(2), .restaurant .col:nth-child(2) {
    order: 1; }
  .cooking .col:nth-child(3), .specials .col:nth-child(3), .restaurant .col:nth-child(3) {
    order: 2; }
  .cooking .col:nth-child(4), .specials .col:nth-child(4), .restaurant .col:nth-child(4) {
    order: 3; }

.cooking-intro {
  background: #00a6a6;
  color: white; }

.cooking-intro-content {
  padding: 20px 10px 10px;
  margin: auto; }

.cooking-image {
  max-width: 100%; }

.cooking-dish {
  color: white;
  background: #4dcaca; }

.cooking-figure {
  margin: 1em 10px; }

.special-header {
  color: #616451;
  margin-left: 0.75rem; }

.special-dish {
  line-height: 1.5em; }

.special-title {
  min-height: 75px;
  font-size: 1.3rem;
  color: #00a6a6; }

.special-image {
  max-width: 100%; }

.restaurant-intro {
  background: #a3b90d;
  color: white; }

.restaurant-title {
  color: #616451; }

.restaurant-bar {
  color: white;
  background: #e9fa77; }

.restaurant-intro-content {
  padding: 20px 10px 10px;
  margin: auto; }

.restaurant-figure {
  margin: 1em 10px;
  position: relative; }

.restaurant-caption {
  position: absolute;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  padding: 0.75rem; }

.restaurant-image {
  width: 100%; }
