<div class="col s12 m6 l3 cooking-dish">
  <figure class="cooking-figure">
    <img class="cooking-image" src="{{src}}" alt="{{alt}}">
    <figcaption class="cooking-caption">
      <p>
        {{desc}}
      </p>
    </figcaption>
  </figure>
</div>
