<footer id="footer" class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <ul class="left">
        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Bio</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
      </ul>
    <span class="right">© 2016 website.com</span>
    </div>
  </div>
</footer>
