<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Gi.La.</a>
      <ul id="nav-mobile" class="right">
        <li><a href="#recipes">Recipes</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
