<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Gi.La.</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#footer">Contact</a></li>
    </ul>
  </div>
</nav>
